---
layout: page
title: Projects
description: Open Source Projects
group: navigation
---
{% include JB/setup %}

<p style="font-size: 15px;">
  This is a list of the Open Source projects I have created/forked.
</p>

{% assign component = 'Projects' %}
{% include loading.html %}
<div id="projects"></div>

<script type="text/template" id="projects-template">
  <div class="row">
      <% _.forEach( projects, function( proj ) { %>
          <% var forked = !!proj.fork ? "Fork" : ""; %>  
        <div class="span4">
          <div class="project">
            <h3>
              <a href="<%= proj.clone_url  %>" target="_blank"> <%= proj.name %> </a>
              <span class="fork"> <%= forked %></span>
            </h3>
            <p class="description"> <%= proj.description %></p>
            <p class="updated-at">
              <time datetime="<%= proj.pushed_at %>"> Last updated <%= moment( proj.pushed_at, 'YYYY-MM-DDTHH:mm:ss Z' ).fromNow() %> </time>
            </p>
          </div>
        </div>
      <% }); %>
  </div>
</script>

<script type="text/javascript" src="/assets/js/list-projects.js"></script>
