---
layout: page
title: Projects
description: Open Source Projects
group: navigation
---
{% include JB/setup %}

<div id="projects"></div>

<script type="text/template" id="projects-template">
  <div class="row projects">
      <% _.forEach( projects, function( proj ) { %>
          <% var forked = !!proj.fork ? "Fork" : ""; %>  
        <div class="span6" style="border-bottom: 1px solid #DDD;">
          <h3>
            <a href="<%= proj.clone_url  %>" target="_blank"> <%= proj.name %> </a>
            <span class="fork"> <%= forked %></span>
          </h3>
          <p class="description"> <%= proj.description %></p>
          <p class="updated-at">
            <time datetime="<%= proj.updated_at %>"> Last updated <%= moment( proj.updated_at ).fromNow() %> </time>
          </p>
        </div>
      <% }); %>
  </div>
</script>
