---
layout: default 
title: Jorge Ramirez
---
{% include JB/setup %}

<div class="hero-unit">
  <h1>Jorge Ram&iacute;rez</h1>
  <p>
    Welcome to my personal website! Here you will find the Open Source projects I have
    built, and also my blog.
  </p>
  <ul class="socialicons bw" style="float: right;">
    <li><a href="http://www.linkedin.com/in/jorgeramirez1990" target="_blank" class="linkedin"></a></li>
    <li><a href="http://www.github.com/jorgeramirez" target="_blank" class="github"></a></li>
    <li><a href="http://www.twitter.com/jorgeramirez_90" target="_blank" class="twitter"></a></li>
    <li><a href="https://plus.google.com/u/0/112230737672811235073" target="_blank" class="gpluslight"></a></li>
    <li><a href="https://www.facebook.com/jorgeramirez1990" target="_blank" class="facebook"></a></li>
    <li><a href="http://www.reddit.com/user/jorgeramirez" target="_blank" class="reddit"></a></li>
  </ul>
</div>


<h2 style="padding-top: 0.5em; margin-bottom: 0.5em;">
  Projects
  <a href="/projects" class="view-more">view all projects</a>
</h2>

{% assign component = 'Projects' %}
{% include loading.html %}
<div id="projects"></div>


<h2 style="padding-top: 0.5em; margin-bottom: 0.5em;">
  Recent Posts
  <ul class="socialicons bw" style="float:right;"> 
    <li><a href="{{ site.author.feedburner }}" class="rss"></a></li>
  </ul>
  <a href="/blog" class="view-more">view all posts</a>
</h2>
<ul class="posts">  
  {% for post in site.posts limit 5 %}
  <li>
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      <time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time>
  </li>
  {% endfor %}
</ul>

<script type="text/template" id="projects-template">
  <div class="row">
      <% _.forEach( projects.splice( 0, 3 ), function( proj ) { %>
          <% var forked = !!proj.fork ? "Fork" : ""; %>  
        <div class="span4">
          <div class="project">
            <h3>
              <a href="<%= proj.clone_url  %>" target="_blank"> <%= proj.name %> </a>
              <span class="fork"> <%= forked %></span>
            </h3>
            <p class="description"> <%= proj.description %></p>
            <p class="updated-at">
              <time datetime="<%= proj.pushed_at %>"> Last updated <%= moment( proj.pushed_at, 'YYYY-MM-DDTHH:mm:ss Z' ).fromNow() %> </time>
            </p>
          </div>
        </div>
      <% }); %>
  </div>
</script>

<script type="text/javascript" src="/assets/js/list-projects.js"></script>
