@import "compass_twitter_bootstrap";


#place-add {
    margin-top: 10px;
    
    .map {
        
        width: 300px;
        
        .map-canvas {
            height: 200px;
        }

        #geocomplete {
            width: 95%;    
        }
    }
    
    form {
        &.form-horizontal .controls {
            margin-left: 80px;
        }
        
        margin-top: 50px;

        button {
            float: right;
        }
    }

}

.container > hr { 
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}

#loading {
    border: 2px solid #888;
    background: #DDD;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0px auto;
    width: 250px;
    font-style: italic;

    p {
        text-align: center;
        margin: 0px auto;
        padding: 5px;
    }    
}

.logout-btn {
    margin-top: 20px;
    float: right;
    margin-right: 100px;
}
