<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ HOME_PATH }}"> Home </a>
            
            <ul class="nav">
                <li><a href="/about/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="https://github.com/jorgeramirez" target="_blank">Github</a></li>
                <li ><a href="#" id="contactMail">Contact</a>
            </ul>
        </div>
    </div>
</div>
