<script type="text/javascript">
$(function(){
    $("ul.nav > li").removeClass("active").children().each(function() {
        if(location.href === this.href){
            $(this).parent().addClass('active');
            return false;
        }
    });

    $("#contactMail").attr('href', "mailto:" + "contact" + "@jramirez.me");
});
</script>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
            
            <ul class="nav">
                <li><a href="/about/">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/archive/">Archive</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li ><a href="abc" id="contactMail">Contact</a>
            </ul>
        </div>
    </div>
</div>
