.hero-unit p {
  padding-top: 1em;
  font-size: 17px;
}

.row p {
  text-align: justify;
}

.posts {
  list-style-type: none;
  margin-left: 0;
}

.posts li {
  border-bottom: 1px solid #DDD;
  padding: 3px 0 2px 0;
}

.posts li a {
  font-size: 15px;
}

.posts li time {
  float: right;
  padding-right: 1px;
}

time {
  color: grey;
}

a.view-more {
  float: right;
  font-size: 12px;
}

.ulno {
  display: inline-block;
  list-style: none;
}

.ulno li {
  display: inline-block;
}

.post-share { 
  margin:4px auto 2.2%;
  text-align:center;
  width:100%;
  padding:9px 0 5px;
  border-top:1px dotted #d5d5d5;
  border-bottom:1px dotted #d5d5d5;
  border-radius:0 0 3px 3px;
}

.post-share li{
  vertical-align:top;
}
.post-share .fb{
  margin-right:4%
}


.project {
  height: 150px;
  padding: 5px;
}

.project p.description {
  color: #444;
  font-size: 15px;
}

.project p.updated-at {
  margin: 0;
  padding: 0;
  color: #888;
  font-size: 11px;
}

span.fork {
  color: #888;
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  margin-left: 5px;
}


#loading {
  border: 2px solid #888;
  background: #DDD;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0px auto;
  width: 250px;
  font-style: italic;
}

#loading p {
  text-align: center;
  margin: 0px auto;
  padding: 5px;
}


/* utilities */
.bold {
  font-weight: bold;
}
/* end of utilities */


/* view demo link */
.view-demo {
  font-family: 'Unkempt', cursive;
  font-size: 2.5em;
  display: block;
  text-align: center;
}

.view-demo:hover {
  text-decoration: none;
  font-weight: bold;
  text-shadow: 5px 3px rgba(0,0,0,0.2);
}
/* end of view demo link */


/* data tooltip. Based on Eric Bidelman's http://www.htmlfivecan.com/ */
[data-tooltip-property] {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #515151;
  color: #515151;
}

[data-tooltip-property]:hover {
  color: #515151;
  text-decoration: none;
}

[data-tooltip-property]:hover:before {
  border-color: transparent transparent rgba(0, 0, 0, 0.85);
  border-image: none;
  border-style: solid;
  border-width: 10px;
  content: " ";
  height: 0;
  width: 0;
  z-index: 101;
  top: 5px;
  left: 11px;
}
[data-tooltip-property]:hover:after {
  content: attr(data-tooltip);
  background: rgba(0,0,0,0.9);
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  width: 240px;
  font-weight: normal;
  top: 25px;
  left: 0;
}

[data-tooltip-property]:hover:before, [data-tooltip-property]:hover:after {
  position: absolute;
  box-shadow: 3px 3px 10px #515151
  -webkit-box-shadow: 3px 3px 10px #515151;
  -moz-box-shadow: 3px 3px 10px #515151;
  -o-box-shadow: 3px 3px 10px #515151;
  -ms-box-shadow: 3px 3px 10px #515151;
  white-space: pre;
  z-index: 100;
}
/* end of data tooltip */


/* prettyprint. Based on Prettyprint/Google-IO 2012 template */
pre[class=prettyprint] {
  position: relative;
}

pre[data-lang]::after {
  content: attr(data-lang);
  background-color: darkGray;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 13pt;
  color: white;
  padding: 2px 25px;
  text-transform: uppercase;
}

.prettyprint .str,
.prettyprint .atv {
  /* a markup attribute value */
  color: #009f5d;
}

.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc;
}

.prettyprint .com {
  /* a comment */
  color: #797979;
  font-style: italic;
}

.prettyprint .lit {
  /* a literal value */
  color: #7f0000;
}

.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #515151;
}

.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  /* a declaration; a variable name */
  color: #d94d3a;
}

.prettyprint .pln {
  color: #515151;
}

/* end of prettyprint */
