@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.media-badges {
  padding: 10px 20px;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: -3.8rem;
  background: #ececec17;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
  font-size: 1.5rem;
  text-align: center;
}

@keyframes animainfos {
  0% {
    margin-top: -3.8rem;
  }
  100% {
    margin-top: -0.5rem;
  }
}

a {
  color: #5a5a5a !important;
}

@include media-breakpoint-down(md) {
  .profile-info {
    h2,
    .location-info {
      text-align: center;
    }
  }

  .rounded-circle {
    margin: 0 auto !important;
  }
}

@include media-breakpoint-down(xs) {
  .media-badges-container {
    margin-left: 4.1666665%;
  }
}

@media (max-width: 340px) {
  .media-badges {
    font-size: 1.3rem;
  }
}
